<%= form_for @item do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>Validation Error:</h2>
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-fluid bg-info">
<div class="row sampleRow">
  <div class="col-xs-6 col-md-3">name<%= f.text_field :name %></div>
  <div class="col-xs-6 col-md-3">price<%= f.text_area :price %></div>
  <div class="col-xs-6 col-md-3">description<%= f.text_area :description %></div>
  <div class="col-xs-6 col-md-3">img_url<%= f.text_area :img_url %></div>
</div>
</div>
<div class="btn btn-lg btn-block"><%= f.submit "update" %></div>
<% end %>
