<h1>Items</h1>

<% @items.each do |item| %>
<div class="container-fluid">
<div class="row sampleRow">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>price</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="danger"><%= image_tag item.img_url %></th>
      <td class="warning"><%= item.name %></td>
      <td class="info"><%= item.price %></td>
      <td class="success"><%= item.description %></td>
      <td>
        <%= link_to("Edit", edit_item_path(item.id)) %>
        <br>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
<%= link_to("New Item", action: "new") %>
